@import '../../../assets/styles/variables.scss';

.timer {
  font-size: 96px;
  color: $primary;

  @media (max-width: 480px) {
    font-size: 48px;
  }

  @media (max-height: 480px) {
    font-size: 48px;
  }
}
