@import '../../../assets/styles/variables.scss';

.timer {
  font-size: 96px;
  color: $primary;

  @media (max-width: 680px) {
    font-size: 48px;
    margin-bottom: 10px;
  }

  &_is-nickname-added {
    font-size: 48px;
    margin-bottom: 10px;
  }
}

.game {
  font-size: 96px;
  width: 100%;
  color: $black;

  @media (max-width: 1024px) {
    font-size: 7vh;
  }
}
