@import '../../../assets/styles/variables.scss';

.description {
  display: flex;
  background: $black;
  flex-direction: column;
  width: 40vw;
  flex: 1;

  @media (max-width: 1024px) {
    width: 100vw;
    flex-direction: column-reverse;
  }

  &:last-child {
    .game-item {
      border-bottom: none;
    }
  }

  &__main {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    max-height: 75vh;
    flex: 1;
    background-color: $primary;
    padding: 22px 40px 0 30px;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      max-height: 100%;
    }
  }

  &__info-title {
    font-size: 18px;
    letter-spacing: 0.02em;
    color: rgba(6, 6, 6, .2);
    margin-bottom: 12px;
    margin-top: 20px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__info-description {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #060606;
  }

  &__title {
    font-size: 18px;
    letter-spacing: 0.02em;
    color: rgba(6, 6, 6, 0.5);
    text-transform: uppercase;

    @media (max-width: 400px) {
      font-size: 14px;
    }

    &_forgotten {
      color: rgba(6, 6, 6, 0.2);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

    &:first {
      margin-top: 85px;
    }
  }

  &__inner {
    flex: 1;
  }

  &__value {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #060606;
    margin-top: 10px;

    &_forgotten {
      font-size: 14px;
      line-height: 14px;
      max-width: 491px;
      width: 100%;
      margin-bottom: 40px;
      word-wrap: break-word;

      @media (max-width: 1024px) {
        max-width: 100vh;
      }
    }
  }
}

.game-page {
  display: flex;
  overflow-y: scroll;
  width: 100vw;
  background: $black;

  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .elememt-row:first-of-type {
    .game-item {
      border-top: none;
    }
  }

  &__game-items {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      width: 100vw;
    }
  }

  &__row {
    display: flex;
    height: 25vh;
    width: 60vw;

    @media (max-width: 1024px) {
      width: 100vw;
      height: 12vh;
    }
  }
}
