@import '../../../assets/styles/variables.scss';

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $primary;

  &__label {
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;

    @media (max-width: 480px) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__input {
    margin-top: 24px;
    font-size: 36px;
    letter-spacing: 0.1em;
    border: none;
    width: 100%;
    text-align: center;
    color: rgba($primary, 0.6);
    background-color: transparent;

    @media (max-width: 480px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__button {
    font-size: 18px;
    background-color: transparent;
    letter-spacing: 0.1em;
    margin-top: 42px;
    color: rgba($primary, 0.2);
    cursor: pointer;

    &_disabled {
      color: rgba($primary, 0.2);
    }

    &_active {
      color: $accent;
    }
  }
}

input::placeholder {
  color: rgba($primary, 0.6);
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 480px) {
    font-size: 24px;
    line-height: 24px;
  }
}
