@import '../../../assets/styles/variables.scss';

.append-bot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 90vh;
}

.append-bot-button-text {
  text-transform: uppercase;
  margin-top: 60px;
  font-size: 18px;
  letter-spacing: 0.315em;
  color: $primary;
  outline: none;
  background: transparent;
  cursor: pointer;

  @media (max-width: 480px) {
    margin-top: 46px;
  }
}

.append-bot-description {
  margin-top: 27vh;
  max-width: 50vw;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.125em;
  color: $explanatory;

  @media (max-width: 480px) {
    max-width: none;
    letter-spacing: 0.125em;
    margin-top: 32vh;
  }
}
