@import '../../../assets/styles/variables.scss';

.language-changer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;

  &__button {
    text-transform: uppercase;
    color: rgba($primary, 0.2);
    font-size: 18px;
    line-height: 18px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    background: transparent;

    &_white-background {
      color: rgba($black, 0.2);
    }
  }
}
