@import '../../../assets/styles/variables.scss';

.login-page {
  height: 90vh;

  &__content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__footer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $explanatory;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.125em;
  }

  &__subscribe {
    text-transform: uppercase;
    margin-top: 77px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.125em;
    color: $explanatory;
    max-width: 476px;
    width: 100%;
  }

  &__nickname {
    text-transform: uppercase;
    color: #eb5929;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
  }
}
