@font-face {
  font-family: 'Transcript Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Transcript Mono'), local('TranscriptMono'), url('./assets/fonts/transcript-mono-medium-pro.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: 'Transcript Mono', sans-serif;
}
